html {
    font-family: 'Roboto', sans-serif;
    background-color: #a1a1a1;
}

.palette {
    position: absolute;
    top: 30%;
    left: 40%;
    height: 400px;
    width: 400px;
}


.top-bar {
    background-color: #3D4fb1;
    height: 24px;
    width: 100%;
}

.body {
    background-color: #6170c7;
}

.control {
    height: 56px;
    width: 100%;    
}

.menu {
    float: left;
    height: 50%;
    position: relative;
    top: 25%;
    left: 5%;
}

.bar {
    float: left;
    height: 50%;
    position: relative;
    top: 25%;
    left: 83%;
}

.title {
    height: 128px;
    line-height: 5px;
    padding-left: 100px;
    padding-top: 16px;
    font-size: 24px;
}

.title .name {
    color: white;
}

.title .add {
    color: #ffffff91;
}

.like-block {
    float: left;
    position: relative;
    left: 320px;
    top: -30px;
    border-radius: 50%;
    background-color: #FE4482;
    height: 60px;
    width: 60px;
}

.like {
    float: left;
    height: 50%;
    position: relative;
    left: 15px;
    top: 15px;
}

.info {
    background-color: white;
}

